.markdown-body {
	margin: 20px;
}

#content {
	margin-left: 200px;
	padding-right: 20px;
}

#remarked {
	font-family: "Courier New", Courier, monospace;
	font-size: 10pt;
}

#side_panel {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 50px;
	padding: 10px;
}

#side_panel h3 {
	margin: 5px;
}

#btn_remark {
	font-weight: bold;
	padding: 5px 10px;
	margin-left: 30px;
}

#nav {
	line-height: 1.75em;
	padding-left: 30px;
}

#nav li:hover {
	font-weight: bold;
	cursor: pointer;
}

#nav li.active {
	font-weight: bold;
}

.ribbon {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
}

.cust-html {
	color: red;
	margin-top: 15px;
}

#html-inp {
	display: block;
	width: 100%;
	height: 500px;
	margin-top: 135px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}